<%= render :partial=> 'layouts/header' %>
<!-- begin .vcard -->
<div class="span4 vcard">
  <div class="vcard-wrap">
    <!-- begin .vcard-photo -->
    <div class="vcard-photo">
      <img src="assets/matt_avatar.jpg"/>
    </div>
    <!-- end .vcard-photo -->
    <%= render :partial => 'home/vcard_bio' %>
  </div>
</div>
<!-- end .vcard -->
<!-- begin .main-wrap -->
<div class="span8 main-wrap">
  <%= render :partial => 'home/experience' %>
  <%= render :partial => 'home/education' %>
  <%= render :partial=> 'home/blog_entries' %>
</div>