<%- model_class = ExperienceHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:place_of_work) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:date_from) %></th>
      <th><%= model_class.human_attribute_name(:date_to) %></th>
      <th><%= model_class.human_attribute_name(:summary) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @experience_histories.each do |experience_history| %>
      <tr>
        <td><%= experience_history.place_of_work %></td>
        <td><%= experience_history.position %></td>
        <td><%= experience_history.date_from %></td>
        <td><%= experience_history.date_to %></td>
        <td><%= experience_history.summary %></td>
        <td><%=l experience_history.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_experience_history_path(experience_history), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      experience_history_path(experience_history),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_experience_history_path,
            :class => 'btn btn-primary' %>
