<div class="container">
	<div class="row page-wrap">
      <% if user_signed_in? %>
        <%= render :partial=> 'layouts/nav_bar' %>
      <% else %>
        <%= render :partial=> 'layouts/header' %>
      <% end %>
      <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        <% end %>

        <%=	 yield %>
        <%= render :partial=> 'layouts/footer' %>
    </div>
</div>